<ion-header>
  <ion-navbar>
   	<button ion-button menuToggle>
       <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <button ion-button float-right outline (click)="logout()" small >
       <ion-icon name="logout"></ion-icon>Logout
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="userinfo">
    <h3 normal>Name: {{userinfo.first_name}}</h3>
    <p>Email: {{userinfo.email}}</p>
    <ion-col no-padding>
      <ion-avatar item-start *ngIf="photo">
        <img src="{{photo}}">
      </ion-avatar>
      <ion-avatar item-start *ngIf="!photo">
        <img src="assets/imgs/user-default.jpeg">
      </ion-avatar>
      <p color="primary" fixed>Upload Photo</p>
      <ion-input type="file" id="file" (change)="handleFileInput($event.target.files)"></ion-input>
    </ion-col>   
    <p>First Name: {{userinfo.first_name}}  <ion-icon name="create" (click)= "presentProfileModal('First Name', userinfo.first_name)"></ion-icon></p>
    <p>Last Name: {{userinfo.last_name}}  <ion-icon name="create" (click)= "presentProfileModal('Last Name', userinfo.last_name)"></ion-icon></p>
    <p>Phone: {{userinfo.phone}}<ion-icon name="create" (click)= "presentProfileModal('Phone', userinfo.phone)"></ion-icon></p>
    <p>Email: {{userinfo.email}}</p>
  </div>
</ion-content>
