<ion-menu [content]="content" primary>
   <div no-padding class="menu-header">
    <ion-list no-lines padding-top padding-bottom no-margin *ngIf="isLoggedIn">
      <ion-item>
        <ion-thumbnail item-start *ngIf="image">
           <img src="{{image}}">
        </ion-thumbnail>
        <ion-thumbnail item-start *ngIf="!image">
          <img src="assets/imgs/user-default.jpeg">
        </ion-thumbnail>
        <h2 class="name">{{username}}</h2>
        <p class="email">{{email}}</p>
        <button ion-button clear item-end *ngIf="isLoggedIn" menuToggle (click)="goToProfile()">
          <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
	</div>
	<ion-list detail-none> 
    <ion-item no-lines no-padding> 
      <div *ngIf="!isLoggedIn">
      <button detail-none menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
       <ion-icon name="{{p.icon}}" margin-right></ion-icon> {{p.title}}  
      </button>
      </div>
      <div *ngIf="isLoggedIn">
     <button detail-none menuClose ion-item *ngFor="let p of accountMenuItems" (click)="openPage(p)">
       <ion-icon name="{{p.icon}}" margin-right></ion-icon> {{p.title}} 
       <span style="color:red">{{p.data}}</span> 
      </button>
      <button detail-none menuClose ion-item (click)="logout()">
       <ion-icon name="log-out" margin-right></ion-icon> Logout
      </button>
      </div>
    </ion-item>
  </ion-list>
</ion-menu>
<ng4-loading-spinner> </ng4-loading-spinner>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>