<ion-menu [content]="content">
   <div padding style="background:#488aff;height:100px;">
    <ion-list *ngIf="isLoggedIn">
      <ion-item>
        <ion-avatar item-start *ngIf="image">
          <img src="{{image}}">
        </ion-avatar>
        <ion-avatar item-start *ngIf="!image">
          <img src="assets/imgs/user-default.jpeg">
        </ion-avatar>
        <span *ngIf="isLoggedIn">{{username}}</span>
        <button float-right *ngIf="isLoggedIn" ion-button menuToggle (click)="goToProfile()">
          <ion-icon name="md-arrow-forward"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    
  
	</div>
	<ion-list detail-none> 
    <ion-item no-lines no-padding> 
      <div *ngIf="!isLoggedIn">
      <button detail-none menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
       <ion-icon name="{{p.icon}}" margin-right></ion-icon> {{p.title}}  
      </button>
      </div>
      <div *ngIf="isLoggedIn">
     <button detail-none menuClose ion-item *ngFor="let p of accountMenuItems" (click)="openPage(p)">
       <ion-icon name="{{p.icon}}" margin-right></ion-icon> {{p.title}}  
      </button>
      <button detail-none menuClose ion-item (click)="logout()">
       <ion-icon name="log-out" margin-right></ion-icon> Logout
      </button>
      </div>
    </ion-item>
  </ion-list>
</ion-menu>
<ng4-loading-spinner> </ng4-loading-spinner>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>