<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
 
 <ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>My Events</ion-title>
    </ion-navbar>
    <ion-toolbar >
      <ion-searchbar right no-lines
      [(ngModel)]="search"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onSerachInput($event)"
      (ionCancel)="onCancelSerach($event)">
      </ion-searchbar>
    </ion-toolbar>

</ion-header>

<ion-content>
	<ion-fab right bottom>
	   <button ion-fab mini (click)="goToAdd()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>
<!-- <ion-list *ngFor="let event of filteredEvents">
  <ion-item>
    <ion-thumbnail item-start>
      <h2> 17 <span>Jun</span></h2>
    </ion-thumbnail>
    <h2>{{event.name}}</h2>
    <p>{{event.start_date}} • {{event.end_date}}</p>
    <p><span> Blance : 38,888 </span> <span> Amount : 2000 </span> <span> Gift : 12 </span> </p>
    <p>{{event.notes}}</p>
    <button ion-button clear item-end (click)="goToEventDetail(event)" >View</button>
    </ion-item>
    <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(event)">Delete</button>
      </ion-item-options>
</ion-list> -->

	<ion-list class="sliding-list">
    <ion-item-sliding *ngFor="let event of filteredEvents" no-lines>
      <ion-item class="event-list" no-padding no-lines>
          <ion-thumbnail item-start><h3>A</h3></ion-thumbnail>
          <h2>{{event.name}}</h2>
          <p>{{ event.start_date | date:'dd MMM, yyyy' }}</p>
          <!-- <p>{{event.start_date}} • {{event.end_date}}</p> -->
          <p> 
            <img src="assets/imgs/user-icon.png" alt="" title="" /> <span>{{event.total_member}}</span> ,
            <img src="assets/imgs/ruppes-icon.png" alt="" title="" /> <span>{{event.total_amount}}</span> , 
            <img src="assets/imgs/gift-icon.png" alt="" title="" /> <span>{{event.total_gift}}</span>
            <!-- <span class="blance"> Total Blance: 38,858</span> 
            <span class="total-amount"> Amount : 2500</span>
            <span class="total-gift">Gift : 22</span> -->

          </p>
          <!-- <p>{{event.notes}}</p> -->
          <button ion-button clear no-margin item-end (click)="goToEventDetail(event)" class="btn-view">View</button>
      </ion-item>

       
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="edit(event)"> Edit </button>
        <button ion-button color="danger" (click)="delete(event)">Delete</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>  
	  <div *ngIf="!filteredEvents?.length && isDataLoaded" padding>
         No data found... 
    </div>
</ion-content>
