<ion-header>
  <ion-navbar>
   <ion-title>Verification</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<ion-grid text-center padding-top padding-bottom text-center>
    <ion-row margin-top>
      <ion-col col-12>
        <h2 ion-text color="default"><strong>Verify your Account</strong></h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
  
    <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
      <ion-col text-center>
        <p ion-text color="dark">Please type verification code sent to </p>
        <p ion-text color="default"> {{email}}</p>
      </ion-col>
      <form #verifyAccountForm="ngForm">
      <ion-grid>
        <ion-row>
          <ion-col col-3 class="padding-2">   
            <ion-item no-padding >
              <ion-input text-center type="text" [(ngModel)]="model.otp.first" name="otp1" maxlength="1" (keyup)="nextInput($event, 1)" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3 class="padding-2">
            <ion-item no-padding>
              <ion-input text-center type="text" [(ngModel)]="model.otp.second" name="otp2" maxlength="1"  (keyup)="nextInput($event, 2)" #passcode1 required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3 class="padding-2">
            <ion-item no-padding>
              <ion-input text-center type="text" [(ngModel)]="model.otp.third" name="otp3" maxlength="1" (keyup)="nextInput($event, 3)" #passcode2 required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3 class="padding-2">
            <ion-item no-padding>
              <ion-input text-center type="text" [(ngModel)]="model.otp.fourth" name="otp4" maxlength="1" #passcode3 required></ion-input>
            </ion-item>
          </ion-col>
      
          <ion-col col-12 margin-top>
            <button *ngIf="pageType == 'register'" ion-button block color="default" class="login-btn" (click)="activateAccount()" [disabled]="!verifyAccountForm.valid || disableButton">Verify Now</button>

            <button *ngIf="pageType == 'password'" ion-button block color="default" class="login-btn" (click)="verifyPin()" [disabled]="!verifyAccountForm.valid || disableButton">Next</button>

          </ion-col>
          <ion-col col-12 text-center> 
            <p> Haven't received OTP?
              <button ion-button color="default" (click)="resendOTP()" [disabled]="maxTime > 0 && maxTime != count">Resend</button>
              <span *ngIf="maxTime != count">Try after {{maxTime}} seconds</span>

             <!--<a href="#" ion-text color="pink" (click)="resendOTP()" [disabled] = "disableResendBtn" >Resend</a>--></p>
          </ion-col>
        </ion-row>
      </ion-grid>

      </form>
    </ion-col>
      
  </ion-list>
  </ion-content>

